#toast {
    position: fixed;
    top: 100px;
    right: 32px;
    z-index: 999999;

    @include mobile {
        right: 20px;
    }
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;

    @include mobile {
        min-width: 300px;
        max-width: 350px;
    }
}
.slideInLeft {
    animation: slideInLeft ease 0.3s, fadeOut linear 5s 1s forwards;
}
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
.toast + .toast {
    margin-top: 24px;
}
.toast__icon,
.toast__close {
    padding: 0 16px;
}
.toast__icon {
    font-size: 24px;

    i {
        &.info {
            color: #000;
        }
        &.success {
            color: #4267b2;
        }
    }
}
.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
